name: Build whisper.cpp

on:
  push:
  schedule:
    - cron: "0 0 1 * *"

permissions: write-all

jobs:
  matrix:
    outputs:
      matrix: ${{ steps.matrices.outputs.result }}

    name: Generate Matrix

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Generate Matrices
        uses: actions/github-script@v8
        id: matrices
        with:
          script: |
            const out = require("./matrix.cjs");

            return out();

  build:
    needs: [matrix]

    name: ${{ matrix.name }}

    runs-on: ${{ matrix.runner }}

    continue-on-error: true

    strategy:
      fail-fast: false

      matrix:
        include: ${{ fromJson(needs.matrix.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Clone whisper.cpp
        run: git clone https://github.com/ggml-org/whisper.cpp.git

      - name: Build Whisper
        shell: pwsh
        run: |
          cmake -B build -D CMAKE_BUILD_TYPE=Release ${{ matrix.flags }}
          ../activex.ps1

          Compress-Archive -Path ${{ github.workspace }}/whisper.cpp/build/bin/* -DestinationPath ${{ github.workspace }}\whisper-cpp-${{ matrix.os }}${{ matrix.suffix }}.zip
        working-directory: whisper.cpp
        env:
          OS: ${{ matrix.os }}

      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          path: |
            ./*.zip
          name: whisper-cpp-${{ matrix.os }}${{ matrix.suffix }}

  release:
    needs: [build]

    name: Create release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get Tag
        uses: actions/github-script@v8
        id: tag
        with:
          result-encoding: string
          script: |
            return require("./release.cjs");

      - name: Download
        uses: actions/download-artifact@v5
        with:
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.result }}
          body: |
            # Binaries
          files: |
            *.zip
