name: Build LLAMA.CPP

on:
  push:

  schedule:
    - cron: "0 */12 * * *"

permissions: write-all

jobs:
  matrix:
    outputs:
      matrix: ${{ steps.matrices.outputs.result }}

    name: Generate Windows and Linux Matrix

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Generate Matrices
        uses: actions/github-script@v8
        id: matrices
        with:
          script: |
            const out = require("./win32.cjs");

            return out();

  linux:
    needs: [matrix]

    name: Build for Linux

    runs-on: ubuntu-22.04

    strategy:
      fail-fast: true

      matrix:
        include: ${{ fromJson(needs.matrix.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Clone llama.cpp
        run: git clone https://github.com/ggml-org/llama.cpp.git

      - name: Build Ollama
        shell: pwsh
        run: |
          cmake -B build -D CMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON -DLLAMA_CURL=OFF -D GGML_NATIVE=OFF ${{ matrix.flags }}
          ../activex.ps1

          Compress-Archive -Path ${{ github.workspace }}/llama.cpp/build/bin/* -DestinationPath ${{ github.workspace }}\llama-cpp-linux-x64${{ matrix.suffix }}.zip
        working-directory: llama.cpp

      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          path: |
            ./${{ github.workspace }}\llama-cpp-linux-x64${{ matrix.suffix }}.zip
          name: llama-cpp-linux-x64-${{ matrix.suffix }}

      # - name: Upload Binaries
      #   uses: AButler/upload-release-assets@v3.0
      #   with:
      #     files: |
      #       ./llama.cpp/llama.zip
      #     repo-token: ${{ secrets.GITHUB_TOKEN }}
      #     release-id: ${{ needs.create.outputs.release_id }}

  windows:
    needs: [matrix]

    name: Build for Windows

    runs-on: windows-latest

    strategy:
      fail-fast: true

      matrix:
        include: ${{ fromJson(needs.matrix.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Clone llama.cpp
        run: git clone https://github.com/ggml-org/llama.cpp.git

      - name: Build Ollama
        shell: pwsh
        run: |
          cmake -B build -D CMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON -DLLAMA_CURL=OFF -D GGML_NATIVE=OFF ${{ matrix.flags }}
          ../activex.ps1

          Compress-Archive -Path ${{ github.workspace }}\llama.cpp\build\bin\Release\* -DestinationPath ${{ github.workspace }}\llama-cpp-windows-x64${{ matrix.suffix }}.zip
        working-directory: llama.cpp

      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          path: |
            ./*.zip
          name: llama-cpp-windows-x64-${{ matrix.suffix }}

      # - name: Upload Binaries
      #   uses: AButler/upload-release-assets@v3.0
      #   with:
      #     files: |
      #       ./llama.cpp/llama.zip
      #     repo-token: ${{ secrets.GITHUB_TOKEN }}
      #     release-id: ${{ needs.create.outputs.release_id }}
      #
  release:
    needs: [windows, linux]

    name: Create release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get Tag
        uses: actions/github-script@v8
        id: tag
        with:
          result-encoding: string
          script: |
            return require("./release.cjs");

      - name: Download
        uses: actions/download-artifact@v5
        with:
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.result }}
          body: |
            # Binaries
          files: |
            *.zip
